In [56]:
import pandas  as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime,timedelta
import re

In [57]:
df=pd.read_csv('/Users/mateusz/Downloads/archive/audible_uncleaned.csv')

In [58]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [59]:
df.shape

(87489, 8)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

In [61]:
df.duplicated().value_counts()

False    87489
Name: count, dtype: int64

In [62]:
df.head(5)

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [63]:
df['author']=df['author'].str.replace('Writtenby:','').str.strip()

In [64]:
ds=df['author']

In [65]:
full_name = pd.Series(name="full_name")

def clear_name():
    
    for i in df['author']:
        formatted_name = re.sub(r"([A-Z])", r" \1", i).strip()
        full_name.loc[len(full_name)] = formatted_name
        
        
    
clear_name() 
print(full_name)

0        Geronimo Stilton
1            Rick Riordan
2             Jeff Kinney
3            Rick Riordan
4            Rick Riordan
               ...
87484       Chris Stewart
87485     Stephen O' Shea
87486          Mark Twain
87487     Laurence Sterne
87488      Mark Kurlansky
Name: full_name, Length: 87489, dtype: object

In [66]:
df['author']=full_name

In [67]:
df['author']=df['author'].str.replace('. ','.')

In [68]:
df['narrator']=df['narrator'].str.replace('Narratedby:','')

In [69]:
df['narrator']

0            BillLobely
1         RobbieDaymond
2            DanRussell
3        SoneelaNankani
4        JesseBernstein
              ...
87484      ChrisStewart
87485        RobertFass
87486         FloGibson
87487       AntonLesser
87488       FleetCooper
Name: narrator, Length: 87489, dtype: object

In [70]:
narraotr_name = pd.Series(name="name")

def clear_narator():
    
    for i in df['narrator']:
        changed = re.sub(r"([A-Z])", r" \1", i).strip()
        narraotr_name.loc[len(narraotr_name)] = changed
        
        
    
clear_narator() 
df['narrator']=narraotr_name

In [71]:
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Stephen O' Shea,Robert Fass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Mark Twain,Flo Gibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Mark Kurlansky,Fleet Cooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [72]:
df['releasedate']=pd.to_datetime(df['releasedate'])

/var/folders/xc/jhj64_2d715g6wbxh3q389fh0000gp/T/ipykernel_991/1804332951.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['releasedate']=pd.to_datetime(df['releasedate'])

In [73]:
df['language']=df['language'].str.capitalize()

In [74]:
df['price']=df['price'].str.replace('Free','0')
df['price']=df['price'].apply(lambda x: float(x.replace(',', '')))

In [75]:
df['Stars']=df['stars'].str.split().str[0]
df['Stars']=df['Stars'].str.replace('Not','Not rated yet')

In [76]:
df['Reviews']=df['stars'].str.split().str[4].str.strip('stars')

In [77]:
df=df.drop('stars',axis=1)

In [78]:
df['Reviews'].fillna(0,inplace=True)

In [79]:
df

,name,author,narrator,time,releasedate,language,price,Stars,Reviews
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,2008-04-08,English,468.0,5,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,2018-01-05,English,820.0,4.5,41
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,2020-06-11,English,410.0,4.5,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,2021-05-10,English,615.0,4.5,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,2010-01-13,English,820.0,4.5,181
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,7 hrs and 34 mins,2017-09-03,English,596.0,Not rated yet,0
87485,The Alps,Stephen O' Shea,Robert Fass,10 hrs and 7 mins,2017-02-21,English,820.0,Not rated yet,0
87486,The Innocents Abroad,Mark Twain,Flo Gibson,19 hrs and 4 mins,2016-12-30,English,938.0,Not rated yet,0
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,4 hrs and 8 mins,2011-02-23,English,680.0,Not rated yet,0
87488,Havana,Mark Kurlansky,Fleet Cooper,6 hrs and 1 min,2017-07-03,English,569.0,Not rated yet,0

In [80]:

df['time']=df['time'].str.replace(' hrs and ',":").str.strip('mins min hrs').str.replace(' hr and ',':')

In [81]:
df=df.loc[~df['time'].str.contains('Less')]

In [82]:
df

,name,author,narrator,time,releasedate,language,price,Stars,Reviews
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2:20,2008-04-08,English,468.0,5,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,13:8,2018-01-05,English,820.0,4.5,41
2,The Deep End,Jeff Kinney,Dan Russell,2:3,2020-06-11,English,410.0,4.5,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11:16,2021-05-10,English,615.0,4.5,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10,2010-01-13,English,820.0,4.5,181
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,7:34,2017-09-03,English,596.0,Not rated yet,0
87485,The Alps,Stephen O' Shea,Robert Fass,10:7,2017-02-21,English,820.0,Not rated yet,0
87486,The Innocents Abroad,Mark Twain,Flo Gibson,19:4,2016-12-30,English,938.0,Not rated yet,0
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,4:8,2011-02-23,English,680.0,Not rated yet,0
87488,Havana,Mark Kurlansky,Fleet Cooper,6:1,2017-07-03,English,569.0,Not rated yet,0

In [83]:
hour_to_min=pd.Series(name='time')
hour_to_min=df['time'].str.split(':').str[0].astype(int)
hour_to_min=hour_to_min*60

In [86]:
add_mins=pd.Series(name='mins')
add_mins=df['time'].str.split(':').str[-1].astype(int)

In [91]:
df['time']=hour_to_min+add_mins
df['time']=pd.to_timedelta(df['time'], unit='m')

/var/folders/xc/jhj64_2d715g6wbxh3q389fh0000gp/T/ipykernel_991/1081224366.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time']=hour_to_min+add_mins
/var/folders/xc/jhj64_2d715g6wbxh3q389fh0000gp/T/ipykernel_991/1081224366.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time']=pd.to_timedelta(df['time'], unit='m')

In [99]:
df.loc[df['time'] == '5 day']

Empty DataFrame
Columns: [name, author, narrator, time, releasedate, language, price, Stars, Reviews]
Index: []